# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\CosmosROG\Projects\XRPL\Donation Platform\XRP Tipper\.idea/dataSources/
/dataSources.local.xml
